---
- name: Deploy new or updated application server on cluster
  hosts: all
  tasks:
    - name: Kill app server
      shell: "killall -q -15 /home/ec2-user/bin/app-server || echo app-server not running"
    - name: Start app server
      shell: /home/ec2-user/bin/start_production_server.sh
